// ==========================================================================
// Default
// ==========================================================================


// $headings-line-height: 100px


// Linux:
//   Roboto, Ubuntu, Arial, sans-serif
//
// Windows:
// '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif
//



// Type
// ==========================================================================
$font-size-base-browser:    16px
$font-size-base:            to-rem(13px, $font-size-base-browser) !default
$font-family-base:          Roboto, Ubuntu, Arial, sans-serif !default


// Alert
// ==========================================================================
$alert-padding-y:         to-rem(16px) !default
$alert-padding-x:         to-rem(24px) !default
$alert-border-radius:     0 !default
$alert-border-width:      to-rem(1px) !default
$alert-size-base:         to-rem(15px) !default


// Button
// ==========================================================================
$input-btn-padding-y:     to-rem(2px) !default
$input-btn-padding-x:     to-rem(12px) !default
$input-btn-font-size:     to-rem(12px) !default
$btn-font-weight:         500 !default
