// ==========================================================================
// Default
// ==========================================================================


// $headings-line-height: 100px


// Type
// ==========================================================================
$font-size-base-browser:    16px
$font-size-base:            to-rem(13px, $font-size-base-browser) !default



// Alert
// ==========================================================================
$alert-padding-y:         to-rem(16px) !default
$alert-padding-x:         to-rem(24px) !default
$alert-border-radius:     0 !default
$alert-border-width:      to-rem(1px) !default
$alert-size-base:         to-rem(15px) !default




// @debug $alert-padding-x
